<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css"/>-->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/angular.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/angular-resource.js"></script>
    <!--
        <script type="text/javascript" src="js/todos.js"></script>
    -->
</head>
<body>
<div ng-app="pos">
    <div ng-controller="posController" class="container">
        <div class="row">
            Sälj, sälj, sälj!
        </div>
        <div class="row">
            <form ng-submit="onBarcode()">
                <label>Streckkod:</label>
                <input data-test-id="barcode_input" ng-model="barcode.value" placeholder="Biipa något!" type="text">
                <button data-test-id="barcode_button" ng-click="onBarcode()">Biip!</button>
            </form>
        </div>
        <div class="row">
            <div class="well">
                {{display.text}}
            </div>
        </div>
        <div class="row">
            <button data-test-id="sell_button" ng-click="onSell()">Sälj!</button>
        </div>
        <div ng-if="error.error">
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error.error}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    angular
        .module('pos', ['ngResource'])
        .constant('POS_URL', 'http://localhost:8080')
        .factory('displayResource', function ($resource, POS_URL) {
            return $resource(POS_URL + '/api/pos/display', {}, {
            });
        })
        .factory('barcodeResource', function ($resource, POS_URL) {
            return $resource(POS_URL + '/api/pos/barcode', {}, {
            });
        })
        .factory('sellResource', function ($resource, POS_URL) {
            return $resource(POS_URL + '/api/pos/sell', {}, {
            });
        })
        .controller("posController", function ($scope, displayResource, barcodeResource, sellResource) {
            $scope.barcode = {value: ""};
            $scope.display = {text: ""};
            $scope.error = {error: ""};
            displayResource.get().$promise.then(function(result) {
                $scope.display = result;
            });
            $scope.onBarcode = function() {
                barcodeResource.save($scope.barcode).$promise.then(function(result) {
                    $scope.display = result;
                    $scope.error = {error: ""};
                    $scope.barcode = {value: ""};
                }, function(error) {
                    $scope.display = {text: ""};
                    $scope.error = error.data;
                    $scope.barcode = {value: ""};
                });
            };
            $scope.onSell = function() {
                sellResource.save().$promise.then(function(result) {
                    $scope.display = result;
                    $scope.error = {error: ""};
                    $scope.barcode = {value: ""};
                }, function(error) {
                    $scope.display = {text: ""};
                    $scope.error = error.data;
                    $scope.barcode = {value: ""};
                });

            };
        });





</script>
</body>
</html>